.navemanu {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  letter-spacing: 0.15em;

  position: relative;
}
.navemanu:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navemanu:hover:after {
  width: 100%;
  left: 0;
}
.intro-title{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}
.intro-desc{
  font-family:monospace;
  color:gray;
  padding-top: 5%;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 2%;
  display: none;
}
.download-cv{
  width: 40%;
}
@media (max-width:991.98px) {
  .info-container{
    margin-top: 10vh;
  }
  .download-cv{
    width: 60%;
  }
}